name: Language Check Workflow

on: [pull_request]

jobs:
  comment-language-detector:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Code Language Detector
        uses: kubecub/comment-lang-detector@v1.0.0